.card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 300px;

    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px rgba(125,125,125,1);
}
.card:hover {
    background: var(--hover-color);
}
.food_img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hover_screen {
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
    transition: .3s;
}
.hover_screen:hover {
    background: rgba(0, 0, 0, 0.4);
}
.food_title {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    bottom: 0;
    height: 80px;
    z-index: 1;
    width: 100%;
    color: var(--primary-color);
    padding: 5px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.center_column {
    display: flex;
    align-items: center;
    color: white;
}
.logo {
    font-size: 1.5rem; 
    font-weight: bold;
    font-style: italic;
    text-transform: lowercase;
    margin-left: 1%;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem; /* 8 * 0.25rem = 2rem */
    flex-direction: column;
    gap: 1.25rem; /* 5 * 0.25rem = 1.25rem */
  }
  
  @media (min-width: 1024px) {
    .lg\:flex-row {
      flex-direction: row;
    }
    .lg\:gap-0 {
      gap: 0;
    }
  }
  
  
  
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .button {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    transition: box-shadow 0.3s;
  }
  
  .button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .custom-text {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    color: red;
    line-height: 1.5;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
 
  @media (min-width: 1024px) {
    .custom-text {
      font-size: 2.25rem;
    }
  }

  .search-box {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .search-icon {
    position: absolute;
    right: 20px;
    color: #777;
  }
  